Net "Door_IN" Loc="V10" | IOSTANDARD=LVCMOS33;
Net "Pre_Wash_In" Loc="U11" | IOSTANDARD=LVCMOS33;
Net "Rinse_In" Loc="U12" | IOSTANDARD=LVCMOS33;
Net "Temperature_In1" Loc="H6" | IOSTANDARD=LVCMOS33;
Net "Temperature_In2" Loc="T13" | IOSTANDARD=LVCMOS33;
Net "Rotation_In1" Loc="R16" | IOSTANDARD=LVCMOS33;
Net "Rotation_In2" Loc="U8" | IOSTANDARD=LVCMOS33;
Net "QuickWash" Loc="T8" | IOSTANDARD=LVCMOS33;
Net "Shirts" Loc="R13" | IOSTANDARD=LVCMOS33;
Net "Colored" Loc="U18" | IOSTANDARD=LVCMOS33;
Net "Laundry" Loc="T18" | IOSTANDARD=LVCMOS33;
Net "AntiAllergic" Loc="R17" | IOSTANDARD=LVCMOS33;
Net "Start" Loc="J15" | IOSTANDARD=LVCMOS33;
Net "SelectTime" Loc="L16" | IOSTANDARD=LVCMOS33;

Net "MainClock" Loc="E3" | IOSTANDARD=LVCMOS33;

Net "LedEnd" Loc="H17" | IOSTANDARD=LVCMOS33;
Net "LedTemp3" Loc="V11" | IOSTANDARD=LVCMOS33;
Net "LedTemp2" Loc="V12" | IOSTANDARD=LVCMOS33;
Net "LedTemp1" Loc="V14" | IOSTANDARD=LVCMOS33;
Net "LedTemp0" Loc="V15" | IOSTANDARD=LVCMOS33;
Net "LedRot3" Loc="T16" | IOSTANDARD=LVCMOS33;
Net "LedRot2" Loc="U14" | IOSTANDARD=LVCMOS33;
Net "LedRot1" Loc="T15" | IOSTANDARD=LVCMOS33;
Net "LedRot0" Loc="V16" | IOSTANDARD=LVCMOS33;

